/* Styling a grid for the gallery list */

.galleryList{
    display: inline-grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: auto ; 
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    align-content: center;
    background-color: blueviolet;
    width: fit-content;
    height:fit-content;
    padding: 20px;
     
}

